
:root{
    --primary-color: rgb(0,177,79);
    --text-color: #363a45;
    --heading-color: rgb(94,98,100);
    --white-color:sologan__content;
    --height-header: 70px;
}
*{
    box-sizing: inherit;
}
html{
    
    font-size: 62.5%;
    line-height: 2rem;
    font-family: sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    margin: 0;
}